.panel {
   width: 700px;
   color: #3c3c3c;

   margin-left: auto;
   margin-right: auto;
   font-size: 16px;
   padding: 20px;

   /* height: 580px; */
   display: flex;
   flex-direction: column;
}

.panel p {
   margin: 0px;
   margin-bottom: 5px;
}

.panel h2 {
   margin-top: 24px;
}

.panel h3 {
   font-size: 16px;
   font-weight: bold;
   margin-top: 30px;
   margin-bottom: 9px;
}

.buttons {
   margin-top: 50px;
   /* margin-top: auto; */
}

.levelButtons {
   margin-top: 100px;
   /* margin-top: auto; */
}

.buttons img {
   margin: 4px;
}
