.titlePage {
}

.panel {
   position: relative;
   height: 500px;
}

.panel > img {
   position: absolute;
   width: 550px;

   top: 35%;
   transform: translate(-50%, -50%);
}

.buttons {
   position: absolute;
   left: 50%;
   top: 70%;
   transform: translate(-50%, 0%);
}

.buttons img {
   margin: 4px;
   width: 140px;
}

.buttons img:hover {
   filter: brightness(140%);
   cursor: pointer;
}
